{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-12-24">
      <div class="">
        <header class="content-header">
          {{ .Title }}
        </header>
      </div>
        <div>
            <!-- A wrapper for all the blog posts -->
            {{ range .Pages.GroupByDate "2006"}}
            <div class="posts">
              <h3>{{ .Key }}</h3>
                {{ range .Pages }}
                <section class="post">
                    <header class="post-header">
                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
                    </header>
                </section>
                {{ end }}
            </div>
            {{ end }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>
{{ partial "analytics.html" . }}
</body>
</html>
