{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-12-24">
      <div>
       <header class="content-header">
           <span class="post-title">{{ .Title }}</span>
           <p class="post-meta">
               {{ with .Params.author }}
                   By <strong class="post-author">{{ . }}</strong>
               {{ end }}
               {{ with .Date}}
                   <strong class="post-date_iso8601">{{ .Format "2006-01-02" }}</strong>
               {{ end }}
               {{ if isset .Params "categories" }}
                   under 
                   {{ $baseUrl := .Site.BaseURL }}
                   {{ range .Params.categories }}<a class="post-category post-category-{{ . }}" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
               {{ end }}
           </p>
           {{ if not (eq .Type "no-share") }}
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
          {{ end }}
       </header>
      </div>
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <section class="post">

                    <div class="post-description">
                        {{ .Content }}
                    </div>
                    {{ template "_internal/disqus.html" . }}
                </section>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}
</body>
</html>
