<div class="sidebar pure-u-1 pure-u-md-7-24">
    <div class="header">
        <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="{{ .Site.BaseURL }}">
                  <h1 class="brand-title">
                    <span>{{ .Site.Title }}</span>
                  </h1>
                  <h2 class="brand-title">
                    <span>{{ .Site.Params.author }}</span>
                  </h2>
                </a>
              </li>
                <li class="nav-item nav-li">
                    <a href="{{ .Site.BaseURL }}about">about</a>
                </li>
                <li class="nav-item nav-li">
                    <a href="{{ .Site.BaseURL }}texts">texts</a>
                </li>
                <li class="nav-item nav-li">
                    <a href="{{ .Site.BaseURL }}works">works</a>
                </li>
                <li class="nav-item nav-li">
                    <a href="{{ .Site.BaseURL }}research">research</a>
                </li>
            </ul>
            <ul class="nav-list">
              <li class="nav-item">
                {{ with .Site.Params.facebookName }}
                <li class="nav-item nav-sns">
                    <a class="sns-button" href="https://facebook.com/{{ . }}"><i class="fa fa-facebook"></i></a>
                </li>
                {{ end }}
                {{ with .Site.Params.twitterName }}
                <li class="nav-item nav-sns">
                    <a class="sns-button" href="https://twitter.com/{{ . }}"><i class="fa fa-twitter"></i></a>
                </li>
                {{ end }}
                {{ with .Site.Params.githubName }}
                <li class="nav-item nav-sns">
                    <a class="sns-button" href="https://github.com/{{ . }} "><i class="fa fa-github-alt"></i></a>
                </li>
                {{ end }}
                {{ with .Site.Params.tumblrName }}
                <li class="nav-item nav-sns">
                  <a class="sns-button" href="https://{{ . }}.tumblr.com "><i class="fa fa-tumblr"></i></a>
                </li>
                {{ end }}
            </ul>
            <div class="google-ad">
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- square-responsive -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-6229665392774233"
                   data-ad-slot="4370168858"
                   data-ad-format="auto"
                   data-full-width-responsive="true"></ins>
              <script>
                   (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
        </nav>
    </div>
</div>
